---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import transcriptImage from "assets/transcription.png";
import modelImage from "assets/model.png";
import aiImage from "assets/ai.png";
import notionImage from "assets/notion.png";
import customerImage from "assets/customer.jpeg";


const features = [
  {
    title: "High Quality Transcription with 1 Click",
    description:
      "Transcribe videos into high quality notes stored in your Notion.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Privacy and Security",
    description:
      "No audio data ever leaves your device without your consent.",
      icon: "bx:bxs-data",
  },
  {
    title: "Interact With Transcript",
    description:
      "Click on the transcript text to play original audio in real-time.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Export to notes app",
    description:
      "Automatically exported to your Notion workspace or Obsidian vault.",
    icon: "bx:bxs-file",
  },
];
---

<div class="py-12 rounded-lg" style="background-color: #f0f0f0;">
<div class="mt-16 md:mt-0 grid gap-4">
  <div class="mt-16 md:mt-0 text-center">
    <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
      What you get with Notes.ai
    </h2>
  </div>
  
  <div style="max-width: 1200px; margin: auto;">
  <div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-x-8 gap-y-8 justify-center">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
          <div class="mx-auto" style="max-width: 800px;">
            <p class="text-slate-500 text-lg mt-2 leading-relaxed max-w-2xl">{item.description}</p>
          </div> 
        </div>
      </div>
    ))
  }
  </div>
</div>
</div>
</div>

<div class="mt-40 md:mt-40 grid grid-cols-1 md:grid-cols-2 gap-x-20 gap-y-40 px-8 md:px-16">
  <div>
    <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-20 ">
      High Quality Transcription with 1 Click
    </h2>
    <p class="text-lg mt-8 text-slate-600">
      Whether you're recording a meeting, drag and drop video files, youtube URLs, Notes.ai quickly and accurately transcribe them into a high quality transcription stored in your Notion. <strong>Let Notes.ai handle notes taking for you so you can focus on the meeting!</strong>
    </p>
  </div>
  <div class="flex justify-center">
    <Picture src={transcriptImage} alt="Description of Image" class="w-full"> 
  </div>

  <div>
    <Picture src={modelImage} alt="Description of Image">
  </div>
  <div>
    <h2 class="text-3xl lg:text-4xl mt-20 font-bold lg:tracking-tight">
      Privacy and Security
    </h2>
    <p class="text-lg mt-8 text-slate-600">
      Notes.ai is audited and approved by Mac App Store and guaranteed to respect your data privacy. AI Transcription takes place locally and send the transcription right into your Notion workspace, <strong>no audio data ever leaves your device without your consent.</strong>
    </p>
  </div>

  <div>
    <h2 class="text-3xl lg:text-4xl mt-20 font-bold lg:tracking-tight">
      Interact With Transcript
    </h2>
    <p class="text-lg mt-8 text-slate-600">
      <strong>Click on the transcript text to play original audio in real-time.</strong> Ask questions, run custom ai prompt and extract valuable insights in seconds (powered by AI Providers Google and Groq).
    </p>
  </div>
  <div>
    <Picture src={aiImage} alt="Description of Image">
  </div>

  <div>
    <Picture src={notionImage} alt="Description of Image">
  </div>
  <div>
    <h2 class="text-3xl lg:text-4xl  mt-20 font-bold lg:tracking-tight">
      Export to notes app
    </h2>
    <p class="text-lg mt-8 text-slate-600">
      Transcribed text are <strong>automatically exported to your Notion workspace or Obsidian vault</strong>, keeping all your notes in one place, easily discoverable.
    </p>
  </div>
</div>


<div class="mt-20 md:mt-20 grid gap-4">
  <div class="mt-16 md:mt-0 text-center">
    <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
      What Our Clients Are Saying
    </h2>
  </div>
  
  <div style="max-width: 1200px; margin: auto;">
  <div class="grid sm:grid-cols-1 md:grid-cols-1 mt-16 gap-4 justify-center"> <!-- Change grid cols to 1 for full width -->
    <div class="p-10 bg-white rounded-lg shadow-md items-center" style="max-width: 900px; margin: auto; border: 0.8px solid black;"> <!-- Increased padding and set max-width -->
      <div class="flex items-center space-x-4">
        <div>
          <Picture src={customerImage} alt="Christina Bretado" class="w-20 h-20 rounded-full"> <!-- Increased image size -->
        </div>
        <div>
          <p class="text-lg font-semibold">Christina Bretado</p> <!-- Increased font size -->
          <p class="text-gray-500 text-">PM at Dropbox</p>
        </div>
      </div>
      <p class="mt-6 text-gray-600 text-lg"> <!-- Increased margin top and text size -->
        "Notes.ai has truly streamlined my notes taking process. The integration with Notion makes it easy to transcribe any audio into organized notes quickly. Plus, the fact that all transcription is done locally on my device really gives me peace of mind, I highly recommend it!"
      </p>
      <div class="mt-6"> <!-- Increased margin top -->
        <span class="text-yellow-400 text-2xl">★★★★★</span> <!-- Increased stars size -->
      </div>
    </div>
  </div>
</div>

